# Ignore all logs and their contents
logs/*

# Ignore all files in dags
dags/*

# Ignore all data
data/*

# Ignore all sql files
sql/*

# Ignore all Spark scripts
spark-scripts/spark-event-consumer.py
spark-scripts/spark-example.py

# Ignore all Kafka files
kafka/*

images/Consumer.png
images/KSQLDB.png
images/Partition.png
images/Topic.png

scripts/event_producer.py

# Ignore all notebooks except the specific ones
notebooks/*

# Ignore Docker Compose and Dockerfiles
docker/docker-compose-airflow.yml
docker/docker-compose-datahub.yml
docker/docker-compose-metabase.yml
docker/docker-compose-postgres.yml
docker/docker-compose-spark.yml
docker/Dockerfile.airflow
docker/Dockerfile.airflow-arm
docker/Dockerfile.spark
